<footer id="footer" class="footer mt-6">
    <div class="content has-text-centered">
        <a id="footer-discord-link" href="https://discord.gg/4FtKJ7k7wn" target="_blank" rel="noopener noreferrer">
            Discord
            <span class="icon">
                <i class="fa-brands fa-discord"></i>
            </span>
            strežnik kluba
        </a>
        <p id="footer-cas-in-kraj-srecanj"> Dobivamo se vsak ponedeljek ob 16.15 v P.01 </p>
        <div id="no-cookies">
            <p class="has-text-grey"> Ta stran ne uporablja piškotkov. </p>
            <button class="button geeks is-rounded is-small" id="cookie-button"> Ok </button>
        </div>
    </div>
</footer>
