<footer id="footer" class="footer mt-6">
    <div class="content has-text-centered">
        <a id="footer-discord-link" href="https://discord.gg/4FtKJ7k7wn" target="_blank" rel="noopener noreferrer">
            Discord
            <span class="icon">
                <i class="fa-brands fa-discord"></i>
            </span>
            strežnik kluba
        </a>

        <p id="footer-cas-in-kraj-srecanj"> Dobivamo se vsak ponedeljek ob 16.15 v P.01 </p>

        <figure id="figure-logo-fmf" class="image">
            <a href="https://www.fmf.uni-lj.si/">
                <img id="img-logo-fmf" src="images/logo_fmf.png" width="200" height="200"
                    alt="Logotip Fakultete za matematiko in fiziko Univerze v Ljubljani">
            </a>
        </figure>

        <span>Sponzorji:</span>
        <div id="sponzorji" class="columns">
            <div class="column"></div>

            <figure id="figure-logo-abelium" class="column image">
                <a href="https://abelium.com/">
                    <img id="img-logo-abelium" src="images/logo_abelium.png" width="200" height="200"
                        alt="Logotip podjetja Abelium d.o.o.">
                </a>
            </figure>

            <figure id="figure-logo-acex" class="column image">
                <a href="https://acex.si/">
                    <img id="img-logo-abelium" src="images/logo_acex.png" width="200" height="200"
                        alt="Logotip podjetja ACEX d.o.o.">
                </a>
            </figure>

            <div class="column"></div>
        </div>

        <div id="no-cookies">
            <p class="has-text-grey"> Ta stran ne uporablja piškotkov. </p>
            <button class="button geeks is-rounded is-small" id="cookie-button"> Ok </button>
        </div>
    </div>
</footer>