<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <a href="https://discord.gg/4FtKJ7k7wn" target="_blank" rel="noopener noreferrer">
                Discord
                <span class="icon">
                    <i class="fa-brands fa-discord"></i>
                </span>
                strežnik kluba
            </a>
        </p>
        <p> Dobivamo se vsak četrtek ob 15-ih v P.01 </p>
        <div class="level" id="no-cookies">
            <div class="level-left">
                <div class="level-item">
                    <p class="has-text-grey"> Ta stran ne uporablja piškotkov. </p>
                </div>
                <div class="level-item">
                    <button class="button" id="cookie-button"> Ok </button>
                </div>
            </div>
        </div>
    </div>
</footer>
