<article class="card">
    <header class="card-header">
        <p class="card-header-title">
            <span class="icon">
                <i class="fas fa-calendar-days"></i>
            </span>
            &ensp;
            {{ .Title }}
        </p>
    </header>
    <div class="card-content">
        <div class="content">
            Število zaužitih pic: 
            {{ if gt .Params.pizzas_consumed 10 }}
            <span class="icon">
                <i class="fas fa-pizza-slice"></i>
            </span>
            x {{ .Params.pizzas_consumed }}
            {{ else }}
            {{ range ( seq .Params.pizzas_consumed ) }}
            <span class="icon">
                <i class="fas fa-pizza-slice"></i>
            </span>
            {{ end }}
            {{ end }}
            {{ .Content }}
            <br>
        </div>
    </div>
</article>
