<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{{ $sass := resources.Get "style/sass/mystyles.scss" }}
{{ $style := $sass | resources.ToCSS | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}">
<link href="/css/pi-game.css" rel="stylesheet">
<script type="text/javascript" charset="utf-8" src="/js/navbar-burger.js"></script>
<script src="https://kit.fontawesome.com/5cd95319b6.js" crossorigin="anonymous"></script>
