<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">Programerski klub FMF</a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="/meetings">
                <span class="icon">
                    <i class="fas fa-comments"></i>
                </span>
                &nbsp;
                <span> Srečanja </span>
            </a>
            <a class="navbar-item" href="/projects">
                <span class="icon">
                    <i class="fas fa-diagram-project"></i>
                </span>
                &nbsp;
                <span> Projekti </span>
            </a>
            <a class="navbar-item" href="/entertainment">
                <span class="icon">
                    <i class="fas fa-gamepad"></i>
                </span>
                &nbsp;
                <span> Resne zadeve </span>
            </a>
        </div>
    </div>
</nav>

