<a href='{{ .Permalink }}' class="has-text-black">
    <article class="card">
        <header class="card-header">
            <p class="card-header-title">
                <span class="icon">
                    <i class="fas fa-code"></i>
                </span>
                &ensp;
                {{ .Title }}
            </p>
        </header>
        <a href='{{ .Permalink }}' class="has-text-black">
        <div class="card-content">
            <div class="content">
                {{ .Content }}
                <br>
            </div>
        </div>
        </a>
    </article>
</a>
