<article id="workshop_card-card-{{.Title}}" class="card">
    <header id="workshop_card-card-header-{{.Title}}" class="card-header">
        <p class="card-header-title subtitle">{{ .Title }}</p> 
        <!-- Velikost tega naslova se spreminja v spremenljivki $subtitle v mystles.scss -->
    </header>
    <div id="workshop_card-card-content-{{.Title}}" class="card-content">
        <p class="card-header-title">
            <span class="icon">
                <i class="fas fa-calendar-days"></i>
            </span>
            &ensp;
            {{ .Params.title_date }}, {{ .Params.presenter }}
            
        </p>
        <!-- <h1>{{ .Title }}</h1> -->
        <div class="content">
            {{ .Content }}
            <br>
        </div>
    </div>
</article>
