# IDE & System
$RECYCLE.BIN/
.AppleDouble
.DS_Store
.LSOverride
.Trash-*
.buildpath
.c9
.c9revisions
.classpath
.directory
.fuse_hidden*
.idea
.nfs*
.project
.settings
.vim
.vs
.vscode
*.iml
[Dd]esktop.ini
[Tt]humbs.db

# Temporary
*.swp
*.tmp
*~

# Hugo
public/
resources/
.hugo_build.lock
