{{ define "main" }}
{{ .Content }}

<div class="columns">
    <div class="column">
        {{ $count := 0 }}
        {{ range .Paginator.Pages }}
        {{ if eq (mod $count 2) 0 }}
        <div class="block">
            {{ partial "project_card.html" . }}
        </div>
        {{ end }}
        {{ $count = add $count 1 }}
        {{ end }}
    </div>

    <div class="column">
        {{ $count := 0 }}
        {{ range .Paginator.Pages }}
        {{ if eq (mod $count 2) 1 }}
        <div class="block">
            {{ partial "project_card.html" . }}
        </div>
        {{ end }}
        {{ $count = add $count 1 }}
        {{ end }}
    </div>
</div>

{{ end }}

