{{ define "main" }}
<section id="main">
    <h1 class="title">{{ .Title }}</h1>
    <div>
        <article class="content">
            {{ .Content }}
        </article>
    </div>
</section>
<hr>
<aside id="meta">
    <div>
        <section class="content">
            <p>
                {{ partial "kontaktne_osebe" . }}
            </p>
        </section>
    </div>
    <nav class="level">
        <!-- Left side -->
        <div class="level-left">
            <p class="level-item">
                {{ with .PrevInSection }}
                <a class="previous" href="{{.Permalink}}"> ←&nbsp{{.Title}}</a>
                {{ end }}
            </p>
        </div>

        <div class="level-right">
            <p class="level-item">
                {{ with .NextInSection }}
                <a class="next" href="{{.Permalink}}"> {{.Title}}&nbsp→</a>
                {{ end }}
            </p>
        </div>
    </nav>
</aside>
{{ end }}
