<aside class="tags">
  {{ $page := .page }}
  {{ $short := .short }}

  {{ if and (not $short) (eq $page.Section "workshops") }}
    {{ if eq $page.Params.Format "short" }}
      <span class="tag is-medium is-dark">Kratka predstavitev</span>
    {{ else if eq $page.Params.Format "long" }}
      <span class="tag is-medium is-dark">Dolga delavnica</span>
    {{ end }}
  {{ end }}

  {{ if and (not $short) (eq $page.Section "workshops") $page.Params.Presenter }}
    <address class="tag is-medium is-dark" rel="author">{{ $page.Params.Presenter }}</address>
  {{ end }}

  {{ if and (not $short) (eq $page.Section "news") $page.Params.Author }}
    <address class="tag is-medium is-dark" rel="">{{ $page.Params.Author }}</address>
  {{ end }}

  {{ $datetime := $page.Date | time.Format "2006-01-02T15:04:05Z07:00" }}
  {{ $human_date := $page.Date | time.Format ":date_long" }}
  {{ $human_time := $page.Date | time.Format ":time_short" }}
  <time class="tag is-medium is-dark {{- if eq $page.Section "workshops" }} has-text-weight-bold {{- end }}" datetime="{{ $datetime }}">{{ $human_date }}, {{ $human_time }}</time>

  {{ if and (not $short) (eq $page.Section "workshops") }}
    <span class="tag is-medium is-dark">{{ $page.Params.Location }}</span>
  {{ end }}

  {{ if and (not $short) (eq $page.Section "news") }}
    {{ $plural_words := dict "count" $page.WordCount "one" "beseda" "two" "besedi" "few" "besede" "other" "besed" }}
    {{ $plural_minutes := dict "count" $page.ReadingTime "one" "minuta" "two" "minuti" "few" "minute" "other" "minut" }}
    <span class="tag is-medium is-dark">{{ $page.WordCount }} {{ partial "pluralize" $plural_words }}</span>
    <span class="tag is-medium is-dark">{{ $page.ReadingTime }} {{ partial "pluralize" $plural_minutes }}</span>
  {{ end }}
</aside>
