<!DOCTYPE html>

<html lang="sl">

<head>
    {{ block "head" . }}
    <title>{{ block "title" . }}{{ with .Title }}{{ . }} | {{ end }}{{ .Site.Title }}{{ end }}</title>
    {{ end }}

    {{ partialCached "meta" . }}
</head>

<body>
    <canvas id="c" style="position: absolute; overflow:hidden;"></canvas>
    <div id="content-over-canvas" style="position: relative; height:100vh; overflow:scroll;">
        {{ partial "navbar" . }}

        <main id="main" class="container py-2 px-6" style="min-height:100vh;" aria-role="main">
            {{ block "main" . }}{{ end }}
        </main>

        {{ partialCached "footer" . }}
    </div>
</body>

</html>