{{ define "main" }}
<section id="main">
    <h1 class="title">{{ .Title }}</h1>
    <div>
        <article class="content">
            {{ .Content }}
        </article>
    </div>
</section>
<hr>
<aside id="meta">
    <div>
        <section>
            <h4> {{ .Date.Format "Mon Jan 2, 2006" }} </h4>
            <h5 id="wordcount"> {{ .WordCount }} Words </h5>
        </section>
        {{ with .Params.topics }}
        <ul id="topics">
            {{ range . }}
            <li><a href="{{ " topics" | absURL}}{{ . | urlize }}">{{ . }}</a> </li>
            {{ end }}
        </ul>
        {{ end }}
        {{ with .Params.tags }}
        <ul id="tags">
            {{ range . }}
            <li> <a href="{{ " tags" | absURL }}{{ . | urlize }}">{{ . }}</a> </li>
            {{ end }}
        </ul>
        {{ end }}
    </div>
    <nav class="level">
        <!-- Left side -->
        <div class="level-left">
            <p class="level-item">
                {{ with .PrevInSection }}
                <a class="previous" href="{{.Permalink}}"> ←&nbsp{{.Title}}</a>
                {{ end }}
            </p>
        </div>

        <div class="level-right">
            <p class="level-item">
                {{ with .NextInSection }}
                <a class="next" href="{{.Permalink}}"> {{.Title}}&nbsp→</a>
                {{ end }}
            </p>
        </div>
    </nav>
</aside>
{{ end }}
