@use "bulma/utilities/initial-variables" as iv;
@use "bulma/utilities/css-variables" as cv;

@for $px from 1 through 20 {
  .max-width-#{$px * 100} {
    max-width: #{$px * 100}px;
    margin-left: auto;
    margin-right: auto;
  }

  .max-height-#{$px * 100} {
    max-height: #{$px * 100}px;
    margin-top: auto;
    margin-bottom: auto;
  }
}

.min-width-viewport {
  min-width: 100vw;
}

.min-height-viewport {
  min-height: 100vh;
}

.card-image-small {
  padding: cv.getVar("card-content-padding") cv.getVar("card-content-padding") 0;

  figure {
    width: min(100%, 480px);
  }

  @media screen and (min-width: 608px) {
    figure {
      width: max(50%, 480px);
    }
  }

  img {
    border-radius: cv.getVar("card-radius");
  }
}

.masonry {
  --masonry-gap: var(--bulma-block-spacing);
  --masonry-columns: 2;

  column-count: 1;
  column-gap: var(--masonry-gap);
}

@media screen and (min-width: iv.$tablet) {
  .masonry {
    column-count: min(var(--masonry-columns), 2);
  }
}

@media screen and (min-width: iv.$desktop) {
  .masonry {
    column-count: var(--masonry-columns);
  }
}

.masonry-item {
  display: block;
  break-inside: avoid;

  &:not(:last-child) {
    margin-bottom: var(--masonry-gap);
  }
}

.masonry:has(~ *) {
  margin-bottom: var(--masonry-gap);
}

@for $i from 1 through 6 {
  .masonry-cols-#{$i} {
    --masonry-columns: #{$i};
  }
}

$masonry-gap: (
  0: 0,
  1: 0.5rem,
  2: 1rem,
  3: 1.5rem,
  4: 2rem,
);

@each $index, $size in $masonry-gap {
  .masonry-gap-#{$index} {
    --masonry-gap: #{$size};
  }
}
