<article id="project_card-card-{{.Title}}" class="card">
    <header id="project_card-card-header-{{.Title}}" class="card-header">
        <a href="{{.Permalink}}" class="card-header-title">
            <span class="icon">
                <i class="fas fa-calendar-days"></i>
            </span>
            &ensp;
            {{ .Title }}
        </a>
    </header>
    <div id="project_card-card-content-{{.Title}}" class="card-content">
        <div class="content">
            {{ .Content }}
            <br>
        </div>
    </div>
</article>
