.ignoreMouse {
	pointer-events: none;
}
.gameText {
	font-size: 50px;
	margin: 0px;
	word-break: break-all;
}
.blueText {
	color: #58b5e0;
}
.pi-game-number { /* Bulma has a class named number and it conflicts with this if it's just called number */
	position: absolute;
	font-size: 50px;
	color: #fff; 
	touch-action: none;
	pointer-events: none;
}
.pi-background
{
	height: 60%;
	opacity: 20%;
	touch-action: none;
	pointer-events: none;
	-webkit-filter: invert(100%); /* Safari/Chrome */
	filter: invert(100%);
}

#canvas {
	overflow: hidden;
	position: relative;
	background-color: #bbb;
	border:1px solid #d3d3d3;
	width:100%;
	height:400px;
	display: flex;
	align-items: center;
	justify-content: center;
	touch-action: none;
}
#mouseContainer, #numbers {
	position: absolute;
	top: 0px;
	left: 0px;
}
#mouse {
	width: 80px;
	height: 80px;
	background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/2/2e/Pi-symbol.svg/800px-Pi-symbol.svg.png");
	background-size: cover;
	position: absolute;
	transform: rotate(180deg);
	-webkit-filter: invert(100%); /* Safari/Chrome */
	filter: invert(100%);
	touch-action: none;
	left: 0px;
	top: 0px;
	pointer-events: none;
}
#playButton {
	position: absolute;
	z-index:1;
	touch-action: none;
}
#playButton:hover {
	filter: brightness(50%);
}
#reachedScore {
	color:#fff;
	text-align:center;
	position: absolute;
	z-index:2;
}
