@charset "utf-8";

// Set your brand colors
$green: #00FF00;
$pink: #FF729F;
$orange: #F58A07;

// Update Bulma's global variables
$white: #FFFFFF;
$black: #000000;
$light: $white;
$dark: $black;
$primary: $green;
$link: $green;
$info: $green;
$success: $pink;
$warning: $pink;
$danger: $pink;

$widescreen-enabled: true;
$fullhd-enabled: false;

$navbar-item-color: $light;

$text: $light;
$text-light: $light;
$text-strong: $light;

// Update some of Bulma's component variables
$body-background-color: $dark;
// mogoče bi bilo bolje, če ne bi bile bele (default vrednost) ampak svetlo rdeče ne zgedajo dobro


$navbar-background-color: $dark;
$navbar-item-hover-background-color: $dark;
$navbar-item-hover-color: $primary ;
$navbar-box-shadow-size: 0 0 10px 0;
$navbar-box-shadow-color: $green;

$footer-background-color: $dark;
$footer-item-hover-background-color: $dark;
$footer-item-hover-color: $primary ;
$footer-box-shadow-size: 0 0 0 10px;
$footer-box-shadow-color: $green;

$card-header-color: $light;
$card-background-color: $dark;
$card-radius: 0;
$card-shadow: 0 0 10px $green;

$box-background-color: $dark;
$box-radius: 0;
$box-shadow: 0 0 10px $green;

$button-color: $green;
$button-background-color: $dark;
$button-border-color: $green;

$button-border-hover-color: $light;
$button-hover-color: $light;


// Import only what you need from Bulma
@import "../bulma/sass/grid/columns.sass";
@import "../bulma/sass/utilities/_all.sass";
@import "../bulma/sass/base/_all.sass";
@import "../bulma/sass/layout/footer.sass";
@import "../bulma/sass/components/navbar.sass";
@import "../bulma/sass/components/card.sass";
@import "../bulma/sass/components/menu.sass";
@import "../bulma/sass/components/level.sass";
@import "../bulma/sass/elements/content.sass";
@import "../bulma/sass/elements/container.sass";
@import "../bulma/sass/elements/title.sass";
@import "../bulma/sass/elements/button.sass";
@import "../bulma/sass/elements/other.sass";
@import "../bulma/sass/helpers/spacing.sass";
@import "../bulma/sass/helpers/color.sass";
@import "../bulma/sass/elements/box.sass";
@import "../bulma/sass/helpers/typography.sass";
@import "../bulma/sass/components/pagination.sass";
